<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/homecontent.css">
</head>
<body>
    <div class="mainTitle">
        <h1>WELCOME TO TECHBLOG</h1>
        <p>Chat and voice your code!</p>
        <div>
            <button><a href="/profile">LETS GET STARTED!</a></button>
        </div>
    </div>
</body>
</html>